# Change header names in a DataFrame according to the header list.

## Define constant and import libraries.

In [60]:
import pandas as pd

csv_encoding = 'Shift_JISx0213'

inputFile = '.\\Data\\H19.csv'
headerListFile = '.\\Data\\HeaderList.csv'

headerFrom = 'H19'
headerTo = 'H-New'

## Read a header name list.

In [61]:
headerList = pd.read_csv(headerListFile, encoding=csv_encoding)
display(headerList.head(10))

       H-New      H19      H20  H21
0  H-New-C01  H19-C01  H20-C01  NaN
1  H-New-C02  H19-C02  H20-C02  NaN
2  H-New-C03  H19-C03  H20-C03  NaN
3  H-New-C04  H19-C04  H20-C04  NaN
4  H-New-C05  H19-C05  H20-C05  NaN
5  H-New-C06  H19-C06  H20-C06  NaN
6  H-New-C07  H19-C07  H20-C07  NaN
7  H-New-C08  H19-C08  H20-C08  NaN
8  H-New-C09  H19-C09  H20-C09  NaN
9  H-New-C10  H19-C10  H20-C10  NaN

## Remain only necessary columns form the header list.

In [62]:
headerListFromTo = pd.DataFrame()
headerListFromTo = headerListFromTo.append(headerList[[headerFrom, headerTo]])
headerListFromTo.describe()

            H19      H-New
count        29         29
unique       29         29
top     H19-C03  H-New-C05
freq          1          1

## Remain rows without NA value.  If any NA values are present, drop that row.

In [63]:
headerListFromTo = headerListFromTo.dropna(how='any')
headerListFromTo.describe()

            H19      H-New
count        19         19
unique       19         19
top     H19-C38  H-New-C02
freq          1          1

##  Set "headerFrom" as index to create dictionary which will be used in df.rename(columns=dictionary) later.

In [64]:
headerListFromTo = headerListFromTo.set_index(headerFrom)
display(headerListFromTo.head(5))

             H-New
H19
H19-C01  H-New-C01
H19-C02  H-New-C02
H19-C03  H-New-C03
H19-C04  H-New-C04
H19-C05  H-New-C05

## Create dictionary.

In [65]:
headerDictFromTo = headerListFromTo.to_dict()
display(headerDictFromTo[headerTo])

{'H19-C01': 'H-New-C01',
 'H19-C02': 'H-New-C02',
 'H19-C03': 'H-New-C03',
 'H19-C04': 'H-New-C04',
 'H19-C05': 'H-New-C05',
 'H19-C06': 'H-New-C06',
 'H19-C07': 'H-New-C07',
 'H19-C08': 'H-New-C08',
 'H19-C09': 'H-New-C09',
 'H19-C10': 'H-New-C10',
 'H19-C31': 'H-New-C31',
 'H19-C32': 'H-New-C32',
 'H19-C33': 'H-New-C33',
 'H19-C34': 'H-New-C34',
 'H19-C35': 'H-New-C35',
 'H19-C36': 'H-New-C36',
 'H19-C37': 'H-New-C37',
 'H19-C38': 'H-New-C38',
 'H19-C39': 'H-New-C39'}

## Read csv file to be changed header names.

In [66]:
data_actual = pd.read_csv(inputFile, encoding=csv_encoding)
display(data_actual.head(3))

,H19-C01,H19-C02,H19-C03,H19-C04,H19-C05,H19-C06,H19-C07,H19-C08,H19-C09,H19-C10,...,H19-C50,H19-C51,H19-C52,H19-C53,H19-C54,H19-C55,H19-C56,H19-C57,H19-C58,H19-C59
0,Data10,Data20,Data30,Data40,Data50,Data60,Data70,Data80,Data90,Data100,...,Data500,Data510,Data520,Data530,Data540,Data550,Data560,Data570,Data580,Data590
1,Data11,Data21,Data31,Data41,Data51,Data61,Data71,Data81,Data91,Data101,...,Data501,Data511,Data521,Data531,Data541,Data551,Data561,Data571,Data581,Data591
2,Data12,Data22,Data32,Data42,Data52,Data62,Data72,Data82,Data92,Data102,...,Data502,Data512,Data522,Data532,Data542,Data552,Data562,Data572,Data582,Data592

## Change the header name.

In [67]:
data_actual = data_actual.rename(columns=headerDictFromTo[headerTo])
display(data_actual.head(3))

,H-New-C01,H-New-C02,H-New-C03,H-New-C04,H-New-C05,H-New-C06,H-New-C07,H-New-C08,H-New-C09,H-New-C10,...,H19-C50,H19-C51,H19-C52,H19-C53,H19-C54,H19-C55,H19-C56,H19-C57,H19-C58,H19-C59
0,Data10,Data20,Data30,Data40,Data50,Data60,Data70,Data80,Data90,Data100,...,Data500,Data510,Data520,Data530,Data540,Data550,Data560,Data570,Data580,Data590
1,Data11,Data21,Data31,Data41,Data51,Data61,Data71,Data81,Data91,Data101,...,Data501,Data511,Data521,Data531,Data541,Data551,Data561,Data571,Data581,Data591
2,Data12,Data22,Data32,Data42,Data52,Data62,Data72,Data82,Data92,Data102,...,Data502,Data512,Data522,Data532,Data542,Data552,Data562,Data572,Data582,Data592

# Verify result of changing the header names.

## Invert key and value of header dictionay.

In [68]:
headerDictToFrom =  {v:k for k,v in headerDictFromTo[headerTo].items()}
display(headerDictToFrom)

{'H-New-C01': 'H19-C01',
 'H-New-C02': 'H19-C02',
 'H-New-C03': 'H19-C03',
 'H-New-C04': 'H19-C04',
 'H-New-C05': 'H19-C05',
 'H-New-C06': 'H19-C06',
 'H-New-C07': 'H19-C07',
 'H-New-C08': 'H19-C08',
 'H-New-C09': 'H19-C09',
 'H-New-C10': 'H19-C10',
 'H-New-C31': 'H19-C31',
 'H-New-C32': 'H19-C32',
 'H-New-C33': 'H19-C33',
 'H-New-C34': 'H19-C34',
 'H-New-C35': 'H19-C35',
 'H-New-C36': 'H19-C36',
 'H-New-C37': 'H19-C37',
 'H-New-C38': 'H19-C38',
 'H-New-C39': 'H19-C39'}

## Verify result of changing the header names.

In [80]:
countChanged = 0
countUnchanged = 0

for hdr in data_actual:
    key = headerDictToFrom.get(hdr)
    if key == None:
        countUnchanged += 1
    else:
        countChanged += 1
        
print("Total count of columns = ", len(data_actual.columns))
print("Count of unchanged headers = ", countUnchanged)
print("Count of changed headers =", countChanged)

Total count of columns =  59
Count of unchanged headers =  40
Count of changed headers = 19